.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0,0,0,.8);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
.modal {
  display: block;
  position: relative;
  background-color: $color-2;
  min-width: 50vw;
  max-width: 80vw;
  max-height: 80vh;
}
.modal__head {
  margin: 0;
  background-color: $color-3;
  color: $color-2;
  font-size: 2em;
  text-align: center;
  padding: .3em;
}
.modal__body {
  padding: 1em 2em 2em;
  text-align: center;
}
.modal__close {
  position: fixed;
  font-size: 3em;
  color: $color-3;
  z-index: 5;
  cursor: pointer;
  @media #{$break-small} {
    right: .5em;
  }
  @media #{$break-medium} {
    right: .5em;
  }
}
.modal__close:hover {
  color: black;
}

.button--modal {
  font-size: .8em;
}
