<template name="login">
    <div class="login-form out-left">
          <div class="row">
              <div class="col-xs-12 col-md-6 col-md-offset-3">
                  <button class="login__facebook button button--addon col-xs-12" type="button"
                          data-hook="facebook-login">
                      <div class="login__icon login__facebook-icon button--addon__addon col-xs-3"><i
                              class="fa fa-facebook"></i>
                      </div>
                      <span class="col-xs-9">Use Facebook</span>
                  </button>
              </div>
          </div>

          <form class="row row--margin" data-hook="login">
              <div class="col-xs-12 col-md-6 col-md-offset-3">
                  <div class="row row--margin">
                      <div class="col-xs-12">
                          <label class="input-addon" for="email">Email:&nbsp;
                           <input id="email" name="email" data-hook="email" type="email" autocapitalize="off"
                                 autocorrect="off" autocomplete="email" placeholder="santa@northpole.com" required>
                          </label>
                      </div>
                  </div>
                  <div class="row row--margin">
                      <div class="col-xs-12">
                          <label class="input-addon" for="password">Password:&nbsp;
                              <input id="password" name="password" data-hook="password" type="{{passType}}" required>
                              <span class="float-right" data-hook="toggle-pass"><strong>{{togglePassText}}</strong></span>
                          </label>
                      </div>
                  </div>
              </div>

              <div class="login__links col-xs-12 col-md-6 col-md-offset-3">
                  <div class="row">
                      <div class="col-xs-12 text-center">
                          <a class="login__link" data-hook="forgotten-password">Forgot
                              Password</a>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12">
                  <div class="row row--margin">
                      <div class="col-xs-12 col-md-6 col-md-offset-3">
                          <button class="button button--submit col-xs-12" type="submit"
                                  data-hook="submit">
                              <span>Let's Go</span>
                          </button>
                      </div>
                  </div>
              </div>
          </form>
      </div>
</template>
