.browse {
  color: $color-1;
}
.browse__buttons {
  position: fixed;
  display: block;
  width: 100vw;
  margin-bottom: 5em;
  padding: .5em 0;
  bottom: 0;
  left: 0;
  font-size: .8em;
  color: inherit;
  z-index: 3;

  @media #{$break-small} {
    margin-bottom: 0;
    background-color: $color-1;
  }
  @media #{$break-medium} {
    background-color: transparent;
  }
}
.browse__filter-button {
  text-align: center;
  margin-right: 2em;
}
.browse__sort-button {
  background-color: mix($color-2, black, 90);
  color: mix($color-2, black, 70);
  border: none;
  @media #{$break-small} {
    font-size: .8em;
  }
  @media #{$break-medium} {
    font-size: 1em;
  }
}
.browse__filter-sort:not(.is-active):hover {
  background-color: mix($color-2, black, 90);
  color: $color-1;
}
.browse__filter-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: transparentize(mix($color-2, black, 95),.02);
  color: inherit;
  border-bottom: 1px solid mix($color-2, black, 85);
  margin-bottom: 5em;
  z-index: 3;
}
.browse__filter-container.is-active {
  //display: block;
}
.browse__filter {
  display: block;
  position: relative;
  font-size: .8em;
}
.browse__filter label {
  margin-top: 1em;
}
.browse__message {
  color: inherit;
  margin-top: 2em;
}
