.gift-page__image {
  max-width: 100%;
}
.gift-page__info {
  color: mix($color-1, white, 50);
  margin-top: .5em;
}
.gift-page__edit {
  @media #{$break-small} {
    order: -1;
    width: 50%;
    margin-bottom: 1em;
  }
  @media #{$break-medium} {
    order: 0;
    width: auto;
    margin-bottom: 0;
  }
}
