.menu {
    display: block;
    position: relative;
    top: 0;
    background-color: transparent;
}
.menu__button {
    display: inline-block;
    border: none;
    color: mix($color-2, black, 50);
    padding: 1em 0 0;
    height: 100%;
    font-size: .6em;
    font-weight: normal;
    border-bottom-style: solid;
    border-bottom-color: $color-2-t;
    border-bottom-width: 0;
    cursor: pointer;
}
.menu__button:hover,
.menu__button:focus,
.menu__button.is-active {
    background-color: transparent;
    color: $color-3;
}
.menu__button:after {
    display: none;
}
.menu__button--action {
    background-color: $color-2;
    color: $color-1;
    border-bottom: 1px solid $color-1;
}
.menu__button--action:hover {
    background-color: $color-3;
    color: $color-2;
}
.menu__button i {
    font-size: 3em;
}
.menu__button * {
    cursor: pointer;
    font-weight: normal;
}
.row .menu__button + .menu__button {
    margin-top: 0;
}
