.capitalize {
    text-transform: capitalize !important;
}
.color-3 {
    color: $color-3 !important;
}
.flex-around {
  @include flexbox;
  justify-content: space-around;
}
.flex-between {
  @include flexbox;
  @include justify-content(space-between);
}
.flex-center {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}
.flex-column {
  @include flexbox;
  @include flex-direction(column);
}
.flex-center-col {
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
}
.flex-wrap {
  @include flexbox;
  @include flex-wrap(wrap);
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.no-margin {
    margin: 0;
}
.no-scroll {
    overflow: hidden !important;
}
.inline-block {
    display: inline-block !important;
}
.is-rotating {
    @include transition(transform .3s ease-in);
    @include transform(rotateY(90deg));
}
.is-rotated {
    @include transition(transform 0s .4s);
    @include transform(rotateY(270deg));
}
.is-unrotating {
    @include transition(transform .3s ease-out);
    @include transform(rotateY(360deg));
}
.pointer {
    cursor: pointer !important;
}
.temp-hidden {
    display: none;
}
.text-center {
    text-align: center !important;
}
.text-right {
    text-align: right !important;
}
